body{
  height: 100dvh;
  display: grid;
  place-content: center;
  border: 1px solid red;
}

/* textContainer including heading/slogan and description styling */

.textContainer{
  border: 1px solid red;

  max-width: 32rem;
  text-align: center;

  font-family: Poppins, Arial;
  color: hsl(234, 12%, 34%);
}
.wholeSlogan, .boldedSlogan{
  font-size: 2.1rem;
}
.wholeSlogan{
  font-weight: 200;
}
.boldedSlogan{
  font-weight: 600;
}
.desc{
  margin-top: 1rem;

  font-weight: 400;
  font-size: 0.9rem;
}

/* --------------------------------------------------------------- */

.fourCardWrapper{
  border: 1px solid red;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  place-content: center;
  gap: 1.5rem;

  margin-top: 4rem;
}
.card1{
  border: 1px solid turquoise;

  grid-row: 2/4;
  grid-column: 1/2;
}
.card2{
  border: 1px solid red;

  grid-row: 1/3;
  grid-column: 2/3;
}
.card3{
  border: 1px solid blue;

  grid-row: 2/4;
  grid-column: 3/4;
}
.card4{
  border: 1px solid orange;
  
  grid-row: 3/-1;
  grid-column: 2/3;
}