body{
  height: 100dvh;
  border: 1px solid red;
}
main{
  display: grid;
  justify-content: center;
  padding: 2rem;
}
/* textContainer including heading/slogan and description styling */

.textContainer{
  max-width: 25rem;
  text-align: center;

  font-family: Poppins, Arial;
  color: hsl(234, 12%, 34%);
}
.wholeSlogan, .boldedSlogan{
  font-size: 1.6rem;
}
.wholeSlogan{
  font-weight: 200;
}
.boldedSlogan{
  font-weight: 600;
}
.desc{
  margin-top: 1rem;

  font-weight: 400;
  font-size: 1rem;
}

/* --------------------------------------------------------------- */

.fourCardContainer{
  display: inline-block;
  max-width: 25rem;
}