body{
  height: 100dvh;
  display: grid;
  place-content: center;
  border: 1px solid red;
}
.textContainer{
  border: 1px solid red;

  max-width: 32rem;
  text-align: center;

  font-family: Poppins, Arial;
  color: hsl(234, 12%, 34%);
}
.wholeSlogan, .boldedSlogan{
  font-size: 2.1rem;
}
.wholeSlogan{
  font-weight: 200;
}
.boldedSlogan{
  font-weight: 600;
}
.desc{
  margin-top: 1rem;

  font-weight: 400;
  font-size: 0.9rem;
}